#btn{
    border: 3px;
    color: #f1f1f3;
    text-align:center;
    font-size: 25px;
    height: fit-content;
    padding:5px  15px;
    background-color: #c01313;
    
}
#main{
    background-color: hwb(324 20% 5%);
    width: 95vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
}